---
# tasks file for docker_home_server

# SSH Configuration (run first to ensure access)
- name: Include SSH configuration tasks
  ansible.builtin.import_tasks: ssh.yml

- name: Install base packages
  ansible.builtin.package:
    name:
      - dnf-utils
    state: present

- name: Add Docker CE repository
  ansible.builtin.yum_repository:
    name: docker-ce
    description: Docker CE Repository
    baseurl: https://download.docker.com/linux/rhel/$releasever/$basearch/stable
    gpgcheck: yes
    gpgkey: https://download.docker.com/linux/rhel/gpg
    enabled: yes

- name: install packages
  ansible.builtin.package:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
      - git
      - openssl
      - openssh-server
    state: present

- name: Update all packages to the latest version
  ansible.builtin.package:
    name: '*'
    state: latest
    update_cache: yes

- name: Clean up package cache
  ansible.builtin.package:
    autoremove: yes

- name: Fetch the list of services that need restarting
  ansible.builtin.command: needs-restarting -s
  register: services_to_restart
  failed_when: false
  changed_when: false

- name: Restart services that need it
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: restarted
  loop: "{{ services_to_restart.stdout_lines }}"
  when: services_to_restart.stdout_lines | length > 0

- name: Create Docker daemon configuration directory
  ansible.builtin.file:
    path: /etc/docker
    state: directory
    mode: '0755'
  when: docker_storage_driver != ""

- name: Configure Docker daemon storage driver
  ansible.builtin.copy:
    content: |
      {
        "storage-driver": "{{ docker_storage_driver }}"
      }
    dest: /etc/docker/daemon.json
    mode: '0644'
  notify: restart docker
  when: docker_storage_driver != ""

- name: Create the Docker deployment user
  ansible.builtin.user:
    name: home-server
    groups: docker
    append: yes
    shell: /sbin/nologin  # Security: user cannot log in via password

- name: Create directory to place the docker compose environment files (volumes, env files, etc)
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: home-server
    mode: '0755'
  loop:
      - "{{ home_server_path }}"
      - "{{ home_server_path }}/data"

- name: Copy Node Exporter Docker Compose file
  ansible.builtin.copy:
    src: node-exporter-docker-compose.yml
    dest: "{{ home_server_path }}/node-exporter-docker-compose.yml"
    owner: home-server
    mode: '0644'

- name: Ensure Docker service is started and enabled
  ansible.builtin.systemd:
    name: docker
    state: started
    enabled: yes

- name: Start Node Exporter with Docker Compose
  ansible.builtin.shell:
    cmd: docker compose -f node-exporter-docker-compose.yml up -d
    chdir: "{{ home_server_path }}"
  become_user: home-server
  register: node_exporter_output
  changed_when: "'Started' in node_exporter_output.stderr or 'Running' in node_exporter_output.stderr"