---
# SSH configuration tasks
- name: Ensure .ssh directory exists for user
  ansible.builtin.file:
    path: "/home/{{ ssh_user }}/.ssh"
    state: directory
    owner: "{{ ssh_user }}"
    group: "{{ ssh_user }}"
    mode: '0700'
  when: ssh_public_key | length > 0

- name: Add SSH public key to authorized_keys
  ansible.builtin.authorized_key:
    user: "{{ ssh_user }}"
    key: "{{ ssh_public_key }}"
    state: present
  when: ssh_public_key | length > 0

- name: Enable passwordless sudo for user (using sudoers.d)
  ansible.builtin.copy:
    content: |
      # Ansible managed - passwordless sudo for {{ ssh_user }}
      {{ ssh_user }} ALL=(ALL) NOPASSWD:ALL
    dest: "/etc/sudoers.d/{{ ssh_user }}"
    mode: '0440'
    owner: root
    group: root
    validate: '/usr/sbin/visudo -cf %s'
  become: yes
  when: ssh_public_key | length > 0


- name: Configure SSH daemon for security
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
    backup: yes
  loop:
    - { regexp: '^#?PermitRootLogin', line: 'PermitRootLogin no' }
    - { regexp: '^#?PubkeyAuthentication', line: 'PubkeyAuthentication yes' }
    - { regexp: '^#?PasswordAuthentication', line: 'PasswordAuthentication no' }
    - { regexp: '^#?ChallengeResponseAuthentication', line: 'ChallengeResponseAuthentication no' }
    - { regexp: '^#?UsePAM', line: 'UsePAM yes' }
  notify: restart sshd
  when: ssh_public_key | length > 0

- name: Ensure SSH service is enabled and started
  ansible.builtin.systemd:
    name: sshd
    state: started
    enabled: yes